@model IEnumerable<enrollmentApplication.Models.Enrollment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.courseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.studentLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.studentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Zipcode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.courseTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.studentLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.studentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Address2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Zipcode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.enrollmentID }) |
            @Html.ActionLink("Details", "Details", new { id = item.enrollmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.enrollmentID })
        </td>
    </tr>
}

</table>
