@model MVCMusicStoreApplication.Models.Album
@{
    ViewBag.Title = "Details";
}
<header>
    <img src="~/Content/Images/logo.png" />
    <h1>ASP.NET MVC MUSIC STORE</h1>
</header>
<h2>Details</h2>
<div>
    <p>Title:@Model.Title</p>
    <p><img src="~/Content/Images/placeholder.gif" /></p>
    <p>Artist: @Model.Artist.Name</p>
    <p>Price: @Model.Price</p>
    <p>Album Artwork: @Model.AlbumArtUrl</p>
    <div>
        @Html.ActionLink("Add To Cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, new { @class = "newBtn" })
    </div>
</div>








@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}