@model MVCMusicStoreApplication.Models.Album
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <p>Title:@Model.Title</p>
    <p><img src="~/Content/Images/placeholder.gif" /></p>
    <p>Artist: @Model.Artist.Name</p>
    <p>Price: @Model.Price</p>
    <p>Album Artwork: @Model.AlbumArtUrl</p>
    <p class="button">
        @Html.ActionLink("Add To Cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, new { @class = "newBtn" })
    </p>
</div>








@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}